.App {
  text-align: center;
}

html,
body {
	height: 100%;
}

.filter {
  padding: 20px;
}

ul {
 list-style-type: none;
}
.form {
  float: left;

}

li {
  float: left;
  width: 32%;
  border: 2px solid ;
  font-size: x-large;
 font-family: monospace;
 text-align: center;
 margin: auto;
 padding: 5px;
 background-color:lavenderblush
 
}
p {
  font-size: xx-large;
  max-width: 600px;
  margin: auto;
  border: #5f2c82 solid 3px;
  padding: 10px;
  background-color: lavenderblush;
}

h1 {
  padding-top: 75px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: lavenderblush;
  font-size:xxx-large;
  font-weight: lighter;
  
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th, td {
	text-align: left;
}

thead, th {
	background-color: #55608f;
  position: relative;
  border: 1px solid;
}


td {
		position: relative;
    border: 1px solid;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
